body{
    text-align: center;
    overflow: scroll;
}
header{
    height: 10vh;
    margin: auto;
}
.img-fluid{
    object-fit: cover;
    object-position: center;
    max-height: 10vh;
}
input{
    margin: auto;
    border: none;
    background-color: fff;
    padding: 0.3em 2em 0.3em 2em;
    width: 66%;
    text-align: center;
    margin: 0.5em;
}
.signin-input{
    border-radius: 1em;
}
a{
    color: black;
    text-decoration: none;
    
}
a:hover{
    color: black;
}
#deletePost{
    display:none;
    margin: auto;
}
#updateProfile{
    display: none;
}

